@font-face {
    font-family: 'aadhunikregular';
    src: url('fonts/aadhunik-webfont.woff2') format('woff2'),
         url('fonts/aadhunik-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
